
.icon {
  font-family: 'Glypther';
}

.clearfix {
  &::before, &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.row {
  &::before, &::after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*="col-"] {
  float: left;
}

@media (max-width: 767px) {
    @for $i from 1 through 12 {
        .col-s-#{$i} {
            width: ((100% / 12) * $i);
        }
    }
}

@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-m-#{$i} {
            width: ((100% / 12) * $i);
        }
    }
}

$break-l: 1200px;
$break-m: 992px;
$break-s: 768px;

@mixin respond($breakpoint) {
    @if $breakpoint == break-s {
        @media only screen and (max-width: $break-s) { @content };
    }
    @if $breakpoint == break-m {
        @media only screen and (max-width: $break-m) { @content };
    }
    @if $breakpoint == break-l {
        @media only screen and (max-width: $break-l) { @content };
    }
    @if $breakpoint == hover {
        @media only screen and (min-width: $break-l) { @content };
    }
}

