.clearfix {
  &::before, &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.row {
  &::before, &::after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*="col-"] {
  float: left;
  padding: 0 30px;
  text-align: center;
}

@media (max-width: 767px) {
    @for $i from 1 through 12 {
        .col-s-#{$i} {
            width: ((100% / 12) * $i);
        }
    }
}

@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-m-#{$i} {
            width: ((100% / 12) * $i);
        }
    }
}
