@mixin sidebar {
	background-color: $sidebar-background;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 188px;
	transition: 0.4s;
	margin-bottom: 22px;
	border-bottom: 1px solid $sidebar-background;
	z-index: 2;
	#logo {
    	margin: 17px 17px 0 20px;
	}

	#hamburger {
	    position: absolute;
	    right: 0;
	    top: 0;
		cursor: pointer;
	    padding: 20px;
	    background: $sidebar-background;
	}

	.message {
		overflow: hidden;
    	white-space: nowrap;		
		margin-left: 20px;
		h2 {
			padding: 0;
			margin: 0;
		}
		a {
			position: relative;
			bottom: 14px;
			left: 3px;
		}
		img:after {
			display: block;
			width: 12px;
			height: 12px;
			background-color: #04ae00;
			border-radius: 50%;
		}
	}
	.mobile-sidebar {
		display: none;
		.flex {
			justify-content: space-between;
		}
		.wallet-mobile {
			.flex {
				justify-content: space-between;
				padding: 0 19px;
				&:hover {
					padding: 0 19px 0 15px;
				}
				.wallet-money {
					line-height: 20px;
					padding-top: 14px;
				}
				.wallet-mobile-arrow {
					padding: 0;
					transition: .2s;
				}
			}
		}
		.wallet-dropdown-m {
			height: 0px;
			padding: 0 19px;
			transition: 1s;
			overflow: hidden;
			p {
				font-size: 13px;
				line-height: 10px;
			}
		}

		.notification-container {
			padding: 0 19px;
			&:hover {
				padding: 0 19px 0 15px;
			}
		}
		.notification-arrow-m {
			padding: 0;
			transition: .2s;
		}
		.notification-dropdown-m {
			padding: 0 19px;
			height: 0px;
			transition: 1s;
			overflow: hidden;
			.notification-item {
				line-height: 15px;
				justify-content: space-between;
				align-items: center;
				p {
					font-size: 13px;
				}
				.orange-dot {
			    	width: 9px;
					height: 8px;
					background-color: $orange;
					display: block;
					border-radius: 50%;
				}
			}
		}
		.user-mobile {
			font-size: $menu-font-size;
		}
	}	
}
