/* Colors */
$orange: #f58220;
$white: #ffffff;
$sidebar-background: #191919;
$main-background: #f5f5f2;
$paragraph-color: #a6a6a6;
$separator-coolor: #e3e3e3;;


/* Font sizes */
$paragraph-font-size: 16px;
$button-font-size: 18px;
$menu-font-size: 14px;

/* Fonts */
$paragraph-font: "Roboto", Helvetica, Arial;