.links-table {
	line-height: 60px;
	h3 {
		margin: 0;
		line-height: 60px;
	}
	table {
	width: 100%;
	border-collapse: collapse;
	min-width: 650px;
		tr {
			&:hover {
				background-color: #f1f3f3;
			}
			&:hover .table-icon-first {
				display: inline-block;
			}
			&:hover .table-icon-second {
				display: inline-block;
			}
			&:first-of-type {
				border-top: 1px solid $separator-color;
			}
			th {
				font-size: $paragraph-font-size;
				color: $paragraph-color;
				line-height: 42px;
				border-bottom: 1px solid $separator-color;
				width: 46%;
				h3 {
					text-align: left;
					margin-left: 10px;
				}
			}
			td {
				font-size: 16px;
				color: $black;
				line-height: 42px;
				border-bottom: 1px solid $separator-color;
				.table-icon-first {
					color: $orange;
					padding-right: 20px;
					display: none;
					@include respond(break-sm) {
						display: inline-block;
					}
				}
				.table-icon-second {
					color: #9c9c9c;
					display: none;
					@include respond(break-sm) {
						display: inline-block;
					}
				}
			}
		}
	}
}



