.notification img {
	color: #a3a3a3;
	width: 16px;
	height: auto;
	padding: 0 22px;
}
.notifiaction img:after {
	display: block;
	width: 12px;
	height: 12px;
	background-color: $orange;
	border-radius: 50%;
}