.table-2-column {
	div {
		border-bottom: 1px solid $separator-color;
		margin-top: 15px;
	}
	span {
		color: $paragraph-color;
		font-family: Roboto;
		font-size: $paragraph-font-size;
		font-weight: $bold;
		line-height: 42px;
	}
	.number {
		float: right;
		color: #333333;
		font-family: Roboto;
		font-size: $paragraph-font-size;
		font-weight: $light;
	}
	@media(min-width: 768px) {
		&-right {
			padding-left: 30px;
			}
		&-left {
			padding-right: 30px;
		}
	}

}