.main-content {
    background-color: #f5f5f2;
    width: 100%;
    padding: 0 15px 0 205px;
	@include respond(break-md) {
        padding: 0 15px 0 70px;
        width: 100%;
    }
    @include respond(break-sm) {
    	padding: 0 15px;
    	width: 100%;
    }
}


.main-section {
	background-color: $white;
	margin: 20px 0 15px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%!important;
    padding-bottom: 15px;
    &:first-of-type {
        margin-top: 80px;
    }
}

.header {
	border-bottom: 1px solid $separator-color;
}