.main-content {
	padding-left: 190px;
	background-color: $main-background;
	width: calc(100% - 190px)!important;
	@include respond(break-m) {
        padding-left: 55px;
        width: calc(100% - 55px)!important;
    }
}

.inner-container {
	max-width: 685px;
	margin: 23px auto;
}

.main-section {
	background-color: $white;
	margin: 80px 15px 15px 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: calc(100% - 30px)!important;
}

.header {
	border-bottom: 1px solid $separator-color;
}