.sidebar {
	background-color: $sidebar-background;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 188px;
	margin-bottom: 22px;
	border-bottom: 1px solid $sidebar-background;
	z-index: 1;
	ul {
		li{
			i {
				padding-right: 12px;
			    position: relative;
			    top: 2px;
			}
		}
	}
}