.sidebar {
	@include sidebar;
}


/* sidebar - mobile */

@include respond(break-sm) {
	.sidebar-short {
		display: none;
	}
	.sidebar {
		left: -205px;
		width: 205px;
		top: 50px;
		overflow: auto;
		#logo {
			display: none;
		}
		#hamburger {
			display: none;
		}
		ul {
			.menu-text {
				display: inline;
			}
		}
		.message {
			margin-left: 20px;
			h2 {
				display: block;
			}
			img {
				width: auto;
			}
			span {
				display: inline;
			}
		}
		.mobile-sidebar {
			display: block;
			margin-bottom: 40px;
		}
    }
}

.show-on {
	display: block!important;
}

.show-off {
	display: none!important;
}

.height {
	height: 140px!important;
}

.height-notification {
    height: 81px!important;
}

.rotate {
	transform: rotate(180deg);
}

.menu-m-active {
	left: 0!important;
}

.sidebar-short {
	width: 55px!important;
}	

.message-short {
	display: none;
	margin-left: 13px;
	img {
		max-width: 26px;
	}
}

.main-content-short {
    padding: 0 15px 0 70px;	
}